{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
    <h3>Accessories</h3>
</div>
<br>
<br>



<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="jewelery" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'jewllery.jpg'%}" alt="img"><p style="text-align: center;">Jewelery</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="watch" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'watches.jpg'%}" alt="accessorie images"><p style="text-align: center;">Watches</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="hats" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'hats.jpg'%}" alt="accessorie image"><p style="text-align: center;">Hats</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="eyewear" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'eyewear.jpg'%}" alt="accessorie image"><p style="text-align: center;">Eyewear</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="scarves" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'scarves.jpg'%}" alt="accessorie images"><p style="text-align: center;">Scarves & Shawls</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="handbags" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'handbags.jpg'%}" alt="accessorie image"><p style="text-align: center;">Handbag</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="belts" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'belts.jpg'%}" alt="accessorie images"><p style="text-align: center;">Belts</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="mittens" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'mittens.jpg'%}" alt="accessorie images"><p style="text-align: center;">Mittens</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="haira" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'hair.jpg'%}" alt="accessorie"><p style="text-align: center;">Hair Accessories</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="socks" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'socks.jpg'%}" alt="accessorie images"><p style="text-align: center;">Socks</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


