{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>Books</h3>
</div>
<br>
<br>


<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="novel" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'novels.jpg'%}" alt="img"><p style="text-align: center;">Novels</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sstories" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'short.jpg'%}" alt="short stories images"><p style="text-align: center;">Short Stories</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="thriller" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'thriller.jpg'%}" alt="thriller books image"><p style="text-align: center;">Thriller Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="romance" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'romance.jpg'%}" alt="romance books image"><p style="text-align: center;">Romance Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="fantasy" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'fantasy.jpg'%}" alt="fantasy books images"><p style="text-align: center;">Fantasy Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="historical" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'historical.jpg'%}" alt="historiacal books images"><p style="text-align: center;">Historical Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="cook" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'cookbook.jpg'%}" alt="cook book images"><p style="text-align: center;">Cook Book</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="drama" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'drama.jpg'%}" alt="Drama images"><p style="text-align: center;">Drama Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="self" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'self.jpg'%}" alt="self help images"><p style="text-align: center;">self-help Books</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="travel" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'travel.jpg'%}" alt="travel book images"><p style="text-align: center;">Travel Book</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


