{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>Cosmetics</h3>
</div>
<br>
<br>


<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="skincare" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'skincare.jpg'%}" alt="img"><p style="text-align: center;">Skincare</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="makeup" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'makeup.jpg'%}" alt="cosmetics images"><p style="text-align: center;">Makeup</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="haircare" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'haircare.jpg'%}" alt="cosmetics image"><p style="text-align: center;">Haircare</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="nailcare" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'nailcare.jpg'%}" alt="cosmetics image"><p style="text-align: center;">nailcare</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="fragnance" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'fragnance.jpg'%}" alt="cosmetics images"><p style="text-align: center;">Fragnance</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="organic" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'organic.jpg'%}" alt="cosmetics image"><p style="text-align: center;">Organic & Natural</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="mature" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'mature.jpg'%}" alt="cosmetics images"><p style="text-align: center;">Mature Skincare</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="suncare" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'suncare.jpg'%}" alt="cosmetics images"><p style="text-align: center;">Suncare </p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="lip" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'lipcare.jpg'%}" alt="cosmetics"><p style="text-align: center;">Lipscare</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="hair" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'dye.jpg'%}" alt="cosmetics images"><p style="text-align: center;">Hair Dye</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


