{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
    <h3>Electronics Things</h3>
</div>

<br>
<br>

<body style="background-color: papayawhip;">
    <div class="container" >
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="phone" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'phone.jpg'%}" alt="img"><p style="text-align: center;">Phones</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="swatch" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'watch.jpg'%}" alt="watch images"><p style="text-align: center;">Smart watch</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="airpods" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'airpods.jpg'%}" alt="airpods image"><p style="text-align: center;">Airpods</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="mvave" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'mv.jpg'%}" alt="micro vave image"><p style="text-align: center;">Micro Wave</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="camera" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'camera.jpg'%}" alt="camera images"><p style="text-align: center;">Camera</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="tv" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'tv.jpg'%}" alt="tv images"><p style="text-align: center;">T.V.</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="light" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'light.jpg'%}" alt="light images"><p style="text-align: center;">Lights</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="fans" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'fan.jpg'%}" alt="fan images"><p style="text-align: center;">Fans</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="charger" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'charger.jpg'%}" alt="charger images"><p style="text-align: center;">Chargers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="vc" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'vc.jpg'%}" alt="vaccume cleaner images"><p style="text-align: center;">Vaccume cleaner</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


