{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>Gym</h3>
</div>
<br>
<br>







<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="dumbell" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'dumbell.jpg'%}" alt="img"><p style="text-align: center;">Dumbells</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="bars" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'bars.jpg'%}" alt="bars images"><p style="text-align: center;">Bars and Plates</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="hgrip" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'grip.jpg'%}" alt="grip image"><p style="text-align: center;">Hand grip</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="creatine" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'creatine.jpg'%}" alt="protien image"><p style="text-align: center;">Creatine</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="protien" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'protine.jpg'%}" alt="protien images"><p style="text-align: center;">Protien</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="gbag" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'gbag.jpg'%}" alt="gym bag images"><p style="text-align: center;">Gym Bag</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="towels" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'towel.jpg'%}" alt="towel images"><p style="text-align: center;">Towels</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="shoes" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'gshoes.jpg'%}" alt="shoes images"><p style="text-align: center;">Shoes</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="matt" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'matt.jpg'%}" alt="matt images"><p style="text-align: center;">matts</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="wm" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'bmachine.jpg'%}" alt="body weight images"><p style="text-align: center;">weight machines</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


