{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
    <h3>Mens Outfits</h3>
</div>

<br>
<br>


<body style="background-color:papayawhip;">
    
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="shirt" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'shirt.jpg'%}" alt="img"><p>Shirt</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="kudta" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'kudta.jpg'%}" alt="kudta images">Kudta<p></p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="oversize" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'oversize.jpg'%}" alt="oversize t shirt"><p>Oversize</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sweatb" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'sweat.jpg'%}" alt="sweat shirt image"><p>Sweat shirt</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="hoodiesb" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'hoodies.jpg'%}" alt="hoodies image"><p>Hoodies</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="shervani" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'shervani.jpg'%}" alt=""><p>Shervani</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="jackets" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'jackets.jpg'%}" alt=""><p>Jackets</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="jeans" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'jeans.jpg'%}" alt="img"><p>Jeans</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="shorts" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'shorts.jpg'%}" alt="shorts images">Shorts<p></p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="cargo" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'cargo.jpg'%}" alt="cargo images"><p>Cargos</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="chinos" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'chinos.jpg'%}" alt="chinos image"><p>chinos</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="joggers" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'joggers.jpg'%}" alt="joggers image"><p>Joggers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="cordouary" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'cordouary.jpg'%}" alt="cordouary image"><p>Cordouary</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sweatp" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'Sweatpants.jpg'%}" alt="Sweatpants images"><p>Sweatpants</p>
            </a></div>
          </div>
        </div>
      </div>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
  <td>
      <button class="btn btn-outline-success" type="submit">
          <a href="login" style="text-decoration: none;">Login</a>
      </button>
  </td>
  <td>
      <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
          <a href="register" style="text-decoration: none;">Register</a>
      </button>
  </td>
</div>
<br>
    
</body>