{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>Perfumes</h3>
</div>
<br>
<br>




<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="eau" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'p1.jpg'%}" alt="img"><p style="text-align: center;">Eau Fraîche</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="de" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p7.jpg'%}" alt="perfumes images"><p style="text-align: center;">Eau de Parfum</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="oil" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'p2.jpg'%}" alt="perfumes image"><p style="text-align: center;">Perfume Oil</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="solid" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p3.jpg'%}" alt="perfumes image"><p style="text-align: center;">Solid Perfume</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="splash" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p4.jpg'%}" alt="perfumes images"><p style="text-align: center;">Splash perfume</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="neutral" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p5.jpg'%}" alt="perfumes image"><p style="text-align: center;">Neutral Perfume</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="seasonal" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p8.jpg'%}" alt="perfumes images"><p style="text-align: center;">Seasonal Perfumes</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="gourmand" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p6.jpg'%}" alt="perfumes images"><p style="text-align: center;">Gourmand </p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="wood" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p9.jpg'%}" alt="perfumes"><p style="text-align: center;">Wood perfume</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="niche" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'p10.jpg'%}" alt="perfumes images"><p style="text-align: center;">Niche perfume</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


