{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>School</h3>
</div>
<br>
<br>


<body style="background-color: papayawhip;">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="pens" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'pens.jpg'%}" alt="img"><p style="text-align: center;">Pens</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="pencil" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'pencil.jpg'%}" alt="pencil images"><p style="text-align: center;">Pencils</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="pouch" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'pouch.jpg'%}" alt="pouch image"><p style="text-align: center;">Pouch</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="lbox" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'lbox.jpg'%}" alt="lunch box image"><p style="text-align: center;">Lunch Box</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sanitizer" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'sanitizer.jpg'%}" alt="saintizer images"><p style="text-align: center;">Sanitizers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sbags" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'sbags.jpg'%}" alt="school bag images"><p style="text-align: center;">School Bags</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="wallets" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'wallets.jpg'%}" alt="wallets images"><p style="text-align: center;">Wallets</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="umb" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'umbrella.jpg'%}" alt="umbrella images"><p style="text-align: center;">Umbrellas</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="note" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'notebook.jpg'%}" alt="notebooks images"><p style="text-align: center;">Notebook</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="wbottles" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'bottle.jpg'%}" alt="bottle images"><p style="text-align: center;">water bottles</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


