{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
  <h3>Weapons</h3>
</div>
<br>
<br>

<body style="background-color: papayawhip;">
    <div class="container" style="background-color: darkgray;">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="handgun" style="text-decoration: none;display: block;margin: 0 auto;color: black;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'handguns.jpg'%}" alt="img"><p style="text-align: center;">Handguns</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="sniper" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'sniper.jpg'%}" alt="weapons images"><p style="text-align: center;">Sniper-Rifile</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="shotgun" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'shotgun.jpg'%}" alt="weapons image"><p style="text-align: center;">Shotguns</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="daggers" style="text-decoration: none;display: block;margin: 0 auto; color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'daggers.jpg'%}" alt="weapons image"><p style="text-align: center;">Daggers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="bows" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'bow.jpg'%}" alt="weapons images"><p style="text-align: center;">Bows</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="nunchaku" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'nunchaku.jpg'%}" alt="weapons image"><p style="text-align: center;">Nunchaku</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="katana" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'katana.jpg'%}" alt="weapons images"><p style="text-align: center;">Katana</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="war" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'warhammer.jpg'%}" alt="weapons images"><p style="text-align: center;">Warhammer </p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="stun" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'stungun.jpg'%}" alt="weapons"><p style="text-align: center;">Stungun</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="whips" style="text-decoration: none;display: block;margin: 0 auto;color: black;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'whips.jpg'%}" alt="weapons images"><p style="text-align: center;">Whips</p>
            </a></div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <td>
            <button class="btn btn-outline-success" type="submit">
                <a href="login" style="text-decoration: none;">Login</a>
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
                <a href="register" style="text-decoration: none;">Register</a>
            </button>
        </td>
      </div>
      <br>
</body>


