{%include 'navbar.html'%}
{%load static%}
<div style="text-align: center;background-color: pink;">
    <h3>Womens Outfits</h3>
</div>


<br>
<br>


<body style="background-color: papayawhip;">
    


    <div class="container" style="background-color: darkgray;">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><a href="tshirts" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'wtshirt.jpg'%}" alt="img"><p>Tshirts</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="hoodiesg" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'whoodies.jpg'%}" alt="hoodies images">Hoodies<p></p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="tank" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'tank.jpg'%}" alt="Tank top"><p>Tank top</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="peplum" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'peplum.jpg'%}" alt="peplum image"><p>Peplum Tops</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="crop" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'crop.jpg'%}" alt="crop tops image"><p>Crop tops</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="cardigans" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'cardigans.jpg'%}" alt="cardigans image"><p>Cardigans</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="tube" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'tube.jpg'%}" alt="tube tops image"><p>Tube Tops</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="jeansg" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;"><img style="height: 100px; width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;"  src="{%static 'wjeans.jpg'%}" alt="img"><p>Jeans</p></a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="shortsg" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'w shorts.jpg'%}" alt="shorts images">Shorts<p></p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="trouser" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%; overflow: hidden;" src="{%static 'trouser.jpg'%}" alt="trouser images"><p>Trousers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="skirts" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'skirts.jpg'%}" alt="skirts image"><p>Skirts</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="jogger" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'wjoggers.jpg'%}" alt="joggers image"><p>Joggers</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="chinosg" style="text-decoration: none;display: block;margin: 0 auto; color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'wchinos.jpg'%}" alt="chinos image"><p>Chinos</p>
            </a></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><a href="flare" style="text-decoration: none;display: block;margin: 0 auto;color: black;text-align: center;">
                <img style="height: 100px;width: 100px;display: block;margin: 0 auto;border-radius: 50%;overflow: hidden;" src="{%static 'flare.jpg'%}" alt="flare pants images"><p>Flare pants</p>
            </a></div>
          </div>
        </div>
      </div>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
  <td>
      <button class="btn btn-outline-success" type="submit">
          <a href="login" style="text-decoration: none;">Login</a>
      </button>
  </td>
  <td>
      <button class="btn btn-outline-primary" type="submit" style="margin-left: 10px;">
          <a href="register" style="text-decoration: none;">Register</a>
      </button>
  </td>
</body>